body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#mobileSupport {
    width: 100vw;
    height: 100vh;
    z-index: 100000000000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#mobileSupport h1 {
    font-size: 2vh;
}

#mobileButton{
    background-color: black;
    color: white;
    padding: 1vw;
}

#countdown {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10000000000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#countdownLogo {
    height: 40vh;
    width: auto;
}

#countdownTitle {
    margin: 0;
    font-size: 15vh;
}

#countdownTimer {
    font-size: 6vh;
    font-weight: 200;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

#playLangloop {
    margin-top: 2vw;
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../images/muted.svg');
    cursor: pointer;
}





#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000000000;
    display: grid;
    text-align: center;
    background-color: white;
    
}


#loadingHolder {
    align-self: center;
    justify-self: center;
}

#loadingHolder img {
    height: 50vh;
    width: auto;
}

#loadingHolder p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: -5vh;
}



#menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 5vh;
    text-align: center;
    pointer-events: none;
    background: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0 2vw;
    z-index: 5;
}

#container{
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    background-color: white;
    align-self: center;
    justify-self: center;
    font-size: medium;
    pointer-events: all;
    border-radius: 25px;
    max-height: 90vh;
    overflow: scroll;
    -ms-overflow-style: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#container::-webkit-scrollbar {
    display: none;
}

h1, h2{
    text-transform: uppercase;
}

#mainVid {
    display: none;
    height: 60vh;
    width: auto;
    justify-self: center;
}

#mainImg {
    display: none;
    height: 60vh;
    width: auto;
    align-self: center;
}

#helpDiv {
    position: absolute;
    bottom: 0vh;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

#helpText {
    position: relative;
    color: white;
}

#mainOBJ {
    display: none;
    height: 70vh;
    width: auto;
}




#pieceListContainer {
    width: 20vw;
    height: 90vh;
    margin-top: 5vh;
    background-color: white;
    align-self: flex-start;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
}

#pieceListContainer

#pieceList {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 59vh;
    width: 100%;
    -ms-overflow-style: none;
}

#pieceList::-webkit-scrollbar {
    display: none;
}

#pieceListSearch{
    align-items: center;
    width: 80%;
    padding: 0.1vw;
    justify-self: center;
    display: flex;
    flex-direction: row;
    height: 3vh;
    margin-left: 10%;
    margin-top: 1vh;
}

#pieceListSearch input {
        width: 90%;
        height: 20px;
        background-color: white;
        border: 2px solid black;
        border-right: none;
        color: black;
        border-radius: 50px 0 0 50px;
        outline: none;
        padding-left: 1vw;
        -webkit-appearance: none;
        caret-color: black;
        font-size: 2vh;
}

#pieceListSearch button {
        width: 10%;
        height: 26px;
        background: white;
        text-align: center;
        color: black;
        border-radius: 0 50px 50px 0;
        border: 2px solid black;
        cursor: pointer;
        font-size: 2vh;
        border-left: none;
        background-image: url("../images/searchIcon.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
}

.pieceHolder {
    height: 6vw;
}

.pieceHolder:hover {
    background-color: lightgrey;
}

.pieceImage {
    width: 5vw;
    height: 5vw;
    margin: 0.5vw;
    float: left;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

.pieceDetails {
    margin-left: 6vw;
    width: 14vw;
    height: 6vw;
    text-align: left;
    padding-top: 0.5vw;
    margin-bottom: -0.5vw;
    padding-bottom: -0.5vw;
    padding-right: 1vw;
    pointer-events: none;
}

.pieceTitle {
    font-size: 2vh;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
}

.pieceMedium {
    font-size: 1.2vh;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0;
}

.pieceArtist {
    font-size: 1.7vh;
    margin: 0;
    font-weight: 550;
}

.pieceFloor {
    font-size: 1.5vh;
    margin: 0;
    font-weight: 500;
    text-transform: none;
}

#gridSpacer{
    width: 20vw;
}

#pieceListResultInfo {
    font-size: 1.4vh;
    text-transform: none;
}

#QRCodeHolder {
    position: absolute;
    bottom: 2vw;
    display: flex;
    flex-direction: column;
    right: 7vw;
    align-items: center;
}

#QRCode {
    width: 10vw;
    height: 10vw;
    background-image: url("../images/qrcode.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#QRCodeHolder p{
    font-size: 1.8vh;
}




#mainCanvas {
    width: 100vw;
    height: 100vh;
}



#cursorContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}

#cursor {
    position: absolute;
    width: 1vw;
    height: 1vw;
}


#PDFView {
    max-width: 40vw;
    height: auto;
    max-height: 60vh;
    overflow: hidden;
    align-self: center;
    display: none;
}

#pageOne {
    max-width: 20vw;
    height: auto;
    margin: 0;
}

#pageTwo {
    max-width: 20vw;
    height: auto;
    margin: 0;
}

#PDFControlContainer {
    position: absolute;
    z-index: 100000;
    width: 40vw;
    align-self: center;
}

#PDFLeft {
    float: left;
    width: 5vh;
    height: 5vh;
    align-self: center;
    cursor: pointer;
    display: none;
}

#PDFRight {
    float: right;
    width: 5vh;
    height: 5vh;
    align-self: center;
    cursor: pointer;
}


/* PayPal */


#paypal-button-container {
    margin-top: 2vh;
    padding-left: 2vw;
    padding-right: 1.8vw;
}

#paypal-button-container::-webkit-scrollbar{
    display: none;
}


/* Shop Confirmation */

#confirmation{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: -100vh;

    transition-duration: 1s;
    z-index: 1000000000000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#confirmHolder{
    width: 40vw;
    height: 30vh;
}

#confirmHolder h1 {
    font-size: 10vh;
    margin-bottom: 0;
}

#confirmHolder p {
    margin-left: 1vw;
}

#confirmClose {
    position: absolute;
    bottom: 0;
    right: 1vw;
    width: 3vw;
    height: 3vw;
    background-image: url("../images/cross.svg");
    cursor: pointer;
}

/* Shop Main */

#shop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 5vh;
    text-align: center;
    pointer-events: none;
    background: none;
    display: none;
    grid-template-columns: auto auto auto;
    grid-gap: 0 2vw;
    z-index: 100000000;
}

/* BASKET */

#basketList {
    width: 20vw;
    max-height: 90vh;
    margin-top: 5vh;
    margin-left: 0.5vw;
    background-color: white;
    align-self: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    border-radius: 25px;
    display: block;
    pointer-events: all;
}

#basketList::-webkit-scrollbar{
    display: none;
}

#basketList h1 {
    font-size: 3vh;
}

#basketCount {
    font-size: 1.5vh;
}

.basketItem {
    position: relative;
    text-align: left;
    padding-left: 1vw;
    display: flex;
}

.basketTitle {
    margin: 0;
    font-size: 3vh;
}

.basketName {
    margin: 0;
    font-size: 2vh;
}

.basketRemoveBTN{
    position: absolute;
    right: 1vh;
    top: 1vh;
    height: 5vh;
    width: 5vh;
    background-image: url("../images/bin.svg");
    border: none;
    background-color: white;
}

.basketRemoveBTN:hover {
    opacity: 0.7;
    cursor: pointer;
}

.basketDetail {
    width: 12vw;
    height: 6vh;
}

.basketPrice {
    font-size: 2vh;
    padding: 2vh;
    margin: 0;
    color: grey;
    position: absolute;
    right: calc(6vh + 1vw);
    height: 2vh;
}

.basketPrice::before{
    content: "£";
}


#basketSubTotal {
    height: 3vh;
    position: relative;
    width: 18vw;
    margin-left: 1vw;
}

#basketSubPrice {
    font-size: 3vh;
    float: right;
}

#basketSubPrice::before{
    content: "Total: £";
}

/* SHOP */

#shopContainer{
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    background-color: white;
    align-self: center;
    justify-self: center;
    font-size: medium;
    pointer-events: all;
    border-radius: 25px;
    width: 50vw;
    height: 90vh;
}

#shopContainer::-webkit-scrollbar{
    display: none;
}

#shopSearch{
    width: 30%;
    padding: 0.1vw;
    justify-self: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    text-align: left;
}

#shopSearch input {
    width: 90%;
    height: 20px;
    background-color: white;
    border: none;
    padding-left: 1vw;    
    -webkit-appearance: none;    
    font-size: 2vh;
    justify-self: left;
}

#searchResults {
    margin: 0;
    margin-left: 1vw;
    padding: 0;
    font-size: small;
}

#shopHolder{
    background-color: white;
    height: 80vh;
    overflow-y: scroll;
    -webkit-appearance: none;
}

#shopHolder::-webkit-scrollbar{
    display: none;
}

.shopItem {
    height: auto;
    justify-self: left;
    text-align: left;
    overflow-y: hidden;
    background-color: white;
    -webkit-box-shadow: 10px 10px 34px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 34px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px -7px rgba(0,0,0,0.75);
    margin-bottom: 15px;
    margin-right: 34px;
    margin-left: 10px;
    padding-bottom: 4vh;
    position: relative;
}

.shopDetails {
    height: 6vh;
    margin-left: 1vw;
}

.shopTitle {
    margin: 0;
    font-size: 3vh;
}

.shopName {
    margin: 0;
    font-size: 2vh;
}

.shopGallery {
    overflow-y: scroll;
    max-height: 50vh;
    -webkit-appearance: none;
}

.shopGallery::-webkit-scrollbar{
    display: none;

}

.shopGalleryItem {
    position: relative;
    max-width: 33%;
    max-height: 24vh;
    float: left;
    align-items: flex-end;
}

.shopGalleryItem img {
    max-width: 100%;
    max-height: 24vh;
    width: auto;
    height: auto;
}

.shopGalleryItem span {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: grey;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 0.4vh;
}

.shopBTN {
    border: none;
    padding: 1vh 2vw;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    float: right;
}

.shopBTN:hover,
.shopBTN:focus {
    background: #0053ba;
}

.shopBTN:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.shopBTN:active {
    transform: scale(0.99);
}

.shopBTNAdded {
    border: none;
    padding: 1vh 2vw;
    margin: 0;
    text-decoration: none;
    background: #27ae60;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    float: right;
    pointer-events: none;
}

.btnPrice {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.shopPrice {
    padding-right: 1vw;
    background-color: grey;
    margin: 0;
    padding-top: 1vh;
    padding-left: 1vw;
    color: white;
}

.shopPrice::before{
    content: "£";
}

/* CHECKOUT */

#checkout {
    width: 20vw;
    max-height: 90vh;
    margin-top: 5vh;
    background-color: white;
    align-self: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    border-radius: 25px;
    display: block;
    pointer-events: all;
    padding-top: 5vh;
}

#checkout::-webkit-scrollbar{
    display: none;
}

#checkoutDetails {
    display: flex;
    flex-direction: column;
    padding-right: 1vw;
    padding-left: 1vw;
}

#checkoutDetails h1{
    font-size: 2vh;
    margin: 0;
    text-align: left;
    margin-left: 1vw;
    color: rgb(71, 71, 71);
    margin-top: 0.5vh;
}

#checkoutDetails .inputField {
    width: 90%;
    height: 20px;
    background-color: white;
    border: none;
    border-bottom: 0.2vh solid grey;
    margin-left: 5%;  
    -webkit-appearance: none;    
    font-size: 1.5vh;
    justify-self: left;
    margin-top: 1vh;
}

#checkoutDetails .inputField:focus {
    outline: none;
}

#formConfirmHolder {
    display: none;
    margin-left: 1vw;
    margin-top: 1vh;
}

#formConfirmHolder input {
    margin: 0.1vw;
}

#checkoutDetails label {
    font-size: 1.4vh;
}

#checkoutDetails button {
    margin-top: 1vh;
}

#privacyNotice {
    font-size: 1.4vh;
    width: 90%;
    margin: 0;
    margin-left: 1vw;
    margin-top: 1vh;
}

#formError {
    font-size: 1.5vh;
    text-align: left;
    margin: 0;
    margin-left: 1vw;
    color: red;
}


#formConfirmButton {
    border: none;
    padding: 1vh 0;
    width: 90%;
    margin: 0;
    margin-left: 1vw;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    float: right;
}

#formConfirmButton:hover,
#formConfirmButton:focus {
    background: #0053ba;
}

#formConfirmButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#formConfirmButton:active {
    transform: scale(0.99);
}